<div class="meals-background"></div>
<div class="mesh-box"></div>
<div class="info-box">
	<p class="title-text">Meal Planning</p>

<section class="week">
	<div class="day">
		<div class="day-title">Monday</div>
	</div>
	<div class="day">
		<div class="day-title">Tuesday</div>
	</div>
	<div class="day">
		<div class="day-title">Wednesday</div>
	</div>
	<div class="day">
		<div class="day-title">Thursday</div>
	</div>
	<div class="day">
		<div class="day-title">Friday</div>
	</div>
	<div class="day">
		<div class="day-title">Saturday</div>
	</div>
	<div class="day">
		<div class="day-title">Sunday</div>
	</div>
</section>
</div>