<div class="home-background"></div>
<div class="mesh-box"></div>
<section class="info-box">
	<div class="title-text">What is Personal Pantry?</div>
	<div class="about">
	
	<div class="introduction">
		<p>Personal Pantry is the solution to all your food storage and meal planning problems.</p>
	</div>
	
	<div class="question1">
		<p>- Have you been grocery shopping and thought you needed something only to get home and discover you had 4?</p></br>
		<p>- Has something in your food storage expired because you couldn't keep track of its expiration?</p></br>
		<p>- Do you have trouble planning meals and sticking to a schedule?</p>
	</div>
	


	<p>Look no further for Personal Pantry is here to help!</p>
	
	</div>
	Erik Golden
</section>