<div class="meals-background"></div>
<div class="mesh-box"></div>
<section class="info-box">
	<div class="title-text">
		<div class="cal-btns">
			<div class="cal-view">
				<div ui-sref="day" class="cal-item">Day</div>
				<div ui-sref="week" class="cal-item">Week</div>
				<div ui-sref="month" class="cal-item">Month</div>
			</div>
		</div>
		<div>
			<span class="title">Day View</span>
		</div>
	</div>
	
	<div class="cal-min">
		<div class="week">
			<div class="day">
				<div class="day-title">Monday</div>
			</div>
		</div>
	</div>
	
</section>