.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: black;
	}

.nav-text {
	color: aquamarine;
	font-size: 22px;
	}

.nav-item {
	width: auto;
	}